# Data Science Tools and Ecosystem

Exercise 1: Create a Jupyter Notebook
Exercise 2: Create markdown cell with title of the notebook

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 


- List popular languages for Data Science
- List common data science libraries
- Data Science Tools

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
ordered list
- R
- Python
- SQL
- Java
- C++
- Scala
- Julia

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
ordered list
- Pandas
- NumPy
- Matplotlib
- Seaborn
- Scikit-learn
- Keras
- TensorFlow
- PyTorch

Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| :- |
| Jupyter|
| Apache Zeppelin|
| RStudio|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

2 * 2 = 4

4 / 2 = 2

2 ** 3 = 8

5 // 2 = 2

Exercise 8 - Create a code cell to multiply and add numbers

In [12]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [13]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author 
Ryan J.